.control-panel {
  display: flex;
  justify-content: start;
  padding-left: 35px;
  margin: 0;
  left: calc(50% - 215px);
  position: fixed;
  bottom: 0;
  width: 429px;
  height: 50px;
  background: #180C22;
  border-radius: 95px 95px 0 0;
  text-align: center;
  padding-top: 10px;
}