.button {
  cursor: pointer;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: none;
  vertical-align: middle;
  &:hover {
    opacity: 0.8;
    &:active {
      opacity: 0.5;
      &:disabled {
        cursor: default;
        opacity: 1;
      }
    }
  }
  &.stream {
    position: absolute;
    bottom: 13px;
    z-index: 1;
    left: 780px;
  }
  &:disabled {
    cursor: default;
    opacity: 1;
    background-color: gray;
  }
}

.input-file-wrapper {
  display: inline-block;
  input {
    display: none;
  }
  label {
    display: inline-block;
    background-color: red;
    cursor: pointer;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    border: none;
    //vertical-align: middle;
  }
}

.choose-action-wrapper {
  cursor: default;
  display: none;
}




