.photo {
  margin-top: 12px;
  border-radius: 6px;
  width: 240px;
  height: 220px;
  min-height: 220px;
  text-align: center;
  background-color: #141931;
  .photo img {
    max-height: 240px;
    max-width: 240px;
  }
  .rating {
    width: 100%;
    .like {
      float: right;
      margin-right: 18px;
    }
    .dislike{
      float: left;
      margin-left: 18px;
    }
  }
}